src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<flow name="testFlow" doc:id="96f4b448-8419-48fa-b163-6723f12da6ec" >
		<file:listener doc:name="On New or Updated File" doc:id="9b0fdf14-a433-4546-a0ca-6d2207993b73" directory="D:\work\TestFileMule" moveToDirectory="D:\work\TestMuleFileCopy">
			<scheduling-strategy >
				<fixed-frequency timeUnit="DAYS"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="c83dd74b-1bfd-483f-bea5-9a44b1b9d1dd" />
		<ee:transform doc:name="Transform Message" doc:id="5b052d6f-9df4-4bfd-920e-7905dfe2bfa7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="6e1b2667-06c7-48f8-8d0e-0dd56d397c4f" >
			<ee:message >
				<ee:set-payload resource="dw/debit_credit_addition.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="testFlowBatch" doc:id="dcd18c64-eeae-494c-ab79-f4e94ae851e4" name="testFlowBatch"/>
	</flow>
	<flow name="testFlowBatch" doc:id="df38fe23-6ed2-4918-863b-b8eb3a8f7685" >
		<batch:job jobName="testBatch_Job" doc:id="6c0cb510-624f-4771-9f36-0a377c08f007" blockSize="10">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="bafd8fba-00b9-44bb-a300-b02624582251" >
					<logger level="INFO" doc:name="Logger" doc:id="0b07a7db-9d8f-43c6-b10e-1db2976e816d" message="#[payload]"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="174037dd-d26d-4771-9228-31c663cebe66" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="5186c4c4-0784-464a-b3e8-c36a4e288c11" />
						<db:bulk-insert doc:name="Bulk insert" doc:id="0f214b67-f0e4-4904-8269-c26a01c8b22c" config-ref="Database_Config">
				<db:sql>INSERT INTO financial_record (Address , Fin_Name, Quantity ,Debit , Credit , final_Balance ,Salary ,Division ,
Store ,Average_stic ) VALUES ( :Address , :Name, :Quantity , :Debit , :Credit , :final_Balance , :Salary ,:Division ,
:Store , :Average_stic)</db:sql>
			</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="f974f77d-2f15-4d35-b1ec-22a6d86582b7" message="On Complete ::::::::::::::::::::::::::#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="transactional_Scope" doc:id="306ebd94-a72b-42eb-a181-f6abd53b439a" >
		<http:listener doc:name="Listener" doc:id="752d7d29-e729-4981-8018-3cdf008ab2a0" config-ref="HTTP_Listener_config1" path="/custom"/>
		<ee:transform doc:name="Transform Message" doc:id="7254873d-f7d7-4c6d-93ed-eca64f6cd941" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="pay" ><![CDATA[%dw 2.0
output application/java
---
{
	"1" : "test",
	"2": "test2"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="8165e1fa-d76c-472f-8554-8dc5e2273dc6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import java!custom::mule::StringModule
output application/java
var test = "call dbo.spIIoTGetRealTimeDataAnalysisTaskDetails (?,?,'57E95C8D-B044-4527-9CDA-BE88172B5F3E')"
var test2 = {
	"1": "test",
	"2": "test2"
}

---
StringModule::replaceParameterWithValues(vars.pay )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="fe7c2a58-c09f-4a7f-bc8d-c5face2bbe89" transactionalAction="ALWAYS_BEGIN">
			<db:insert doc:name="Insert" doc:id="fe415df2-31fd-423b-91b5-afce5e448083" config-ref="PostGresConnection">
			<db:sql>INSERT INTO testtimestamp (FullName, newDate ) VALUES ( :fullName, :newDate)</db:sql>
			<db:input-parameters><![CDATA[#[{
	fullName : "Test",
	newDate : now() as Date
}]]]></db:input-parameters>
		</db:insert>
			<logger level="INFO" doc:name="Logger" doc:id="ed8f520d-f624-4374-acca-b30c2da46b64" />
			<raise-error doc:name="Raise error" doc:id="1a9d65bc-2cc1-4737-9b43-f0c319140bd2" type="ORDER:INVALID_DATA"/>
			<db:insert doc:name="Insert" doc:id="fb0772b6-151b-4ea3-a39d-b49b333a43e7" config-ref="PostGresConnection">
				<db:sql >INSERT INTO financial_record (Address , Fin_Name, Quantity ,Debit , Credit , final_Balance ,Salary ,Division ,
Store ,Average_stic ) VALUES ( :Address , :Name, :Quantity , :Debit , :Credit , :final_Balance , :Salary ,:Division ,
:Store , :Average_stic)</db:sql>
				<db:input-parameters ><![CDATA[#[{
	  Address : "test",
	  Name : "test", 
	  Quantity: 12, 
	  Debit: 56,
	  Credit: 7,
	  final_Balance: 6, 
	  Salary: 90, 
	  Division: "test", 
	  Store: "po", 
	  Average_stic: 78
}]]]></db:input-parameters>
			</db:insert>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="5a863a1e-7a59-479b-adf3-5c0fdc7596f4" />
	</flow>
</mule>
